body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/project-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}
nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0 auto 0 auto;
}
nav #logo{
    margin: 23px;
    float: left;
}
nav #logo img{
    height: 75px;
}
 nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li{
    color: aliceblue;
    font-size: 16px;
    font-family: Mostserrat, sans-serif;
    list-style:none;
} 
nav ul li a{
    padding: 55px 20px 55px 0;
    float: left;
}
nav#menu_principal{
    float: right;
}
#menu_principal{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: rgb(134, 134, 134);
    margin-right: 3px ;
    margin-top: 60px;
    float: left;
}    
/*id*/
.espaco{
    width: 30%;
}
nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0 auto 0 auto;
}
/*logo_topo classe*/
header img {
    height: 100px;
    float: left;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    float: right;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    text-align: center;
    height: 100%;
    transition: 0.5s;
}
nav ul li:hover{
    background-color: white;
}
nav ul li a{
    padding: 25px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 55px 20px 55px 0px;
    float: left;
    text-align: center;
    text-transform: uppercase;
}
nav #menu_principal{
    float: right;

}
#menu_principal span{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: #868686;
    margin-right: 3px;
    margin-top: 60px;
    float: left;
}  
#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s;
}   
#menu_principal li a:hover{
    color: #e7a920;
    transition: 1s;
    text-decoration: line-through;
}

.regua{
    background-image: url(../img/divider-dark.png);
    background-repeat: repeat-x;
    padding-top: 100px;
}   
.icons{
    height: 120px;
    width: 345px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.icons .icon img{
    width: 115px;
}

/*sem internet*/
.txt{
    width: 850px;
    margin: 0 auto;
}
.txt h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0;
    margin-left: 95px;
    margin-top: 40px;
}
.trabalhos{
    margin-top: 110px;
}
.cabecalho{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
.trabalhos .cabecalho h4 span{
    color: #e7a920;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
.trabalhos .cabecalho h4 b{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    text-transform: uppercase;
    color: #000;
    font-style: italic;
    margin: 0;
}
.trabalhos .cabecalho p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 12px 0 0 0;
}    
.trabalhos .mosaico{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
}
.trabalhos .mosaico .item{
    height: 470px;
    width: 570px;
    background-image: url(../img/project-1.jpg);
    background-size: contain;
    background-position: center;
  
}
.trabalhos .mosaico .item:hover{
    background-size: 110%;
    background-position: center;


    
  
}
    
/*----------Trabalhos----------*/
#Trabalhos header{
    background-color: blue;
}


     

    